<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-2.0.xsd
						http://www.springframework.org/schema/util
       					http://www.springframework.org/schema/util/spring-util-2.0.xsd"
	default-autowire="byName">

	<!-- ********************************** -->
	<!-- Bean con los properties externos para utilizar en el proyecto -->
	<!-- ********************************** -->

	<bean id="propertiesBean"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>file:///C:/IPSspring/workspace_svn/IPSC/properties/csv.properties</value>
				<value>file:///C:/IPSspring/workspace_svn/IPSC/properties/clave.properties</value>
				<value>file:///C:/IPSspring/workspace_svn/IPSC/properties/confEnvioMensajes.properties</value>
        		<value>file:///C:/IPSspring/workspace_svn/IPSC/properties/integra.properties</value>
				<value>file:///C:/IPSspring/workspace_svn/IPSC/properties/ipsc-config.properties</value>
				<value>file:///C:/IPSspring/workspace_svn/IPSC/properties/jasper.properties</value>
				<value>file:///C:/IPSspring/workspace_svn/IPSC/properties/log4j.properties</value>
				<value>file:///C:/IPSspring/workspace_svn/IPSC/properties/mail.properties</value>
				<value>file:///C:/IPSspring/workspace_svn/IPSC/properties/rec.properties</value>
				<value>file:///C:/IPSspring/workspace_svn/IPSC/properties/sistemaFicheros.properties</value>
				<value>file:///C:/IPSspring/workspace_svn/IPSC/properties/webservices.properties</value>
			</list>
		</property>
	</bean>	
</beans>