<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
	<bean id="usuarioManager" class="es.map.ipsc.manager.usuario.UsuarioManagerImpl">	
		<property name="usuarioDAO" ref="usuarioDAO" />
	</bean>
	
	<bean id="logSolicitudManager" class="es.map.ipsc.manager.solicitudes.LogSolicitudManagerImpl">	
		<property name="solicitudComunDAO" ref="solicitudComunDAO" />
		<property name="logSolicitudDAO" ref="logSolicitudDAO" />
		<property name="estadoSolicitudDAO" ref="estadoSolicitudDAO" />		
	</bean>
	
	<bean id="avisoManager" class="es.map.ipsc.manager.aviso.AvisoManagerImpl">	
		<property name="avisoDAO" ref="avisoDAO" />
	</bean>
	
	<bean id="logServiciosManager" class="es.map.ipsc.manager.logs.LogServiciosManagerImpl">	
		<property name="logServicioDAO" ref="logServicioDAO" />
		<property name="tipoServicioManager" ref="tipoServicioManager" />		
	</bean>
	
	<bean id="tipoServicioManager" class="es.map.ipsc.manager.logs.TipoServicioManagerImpl">	
		<property name="tipoServicioDAO" ref="tipoServicioDAO" />
	</bean>
	
		
	<bean id="motivoReduccionManager" class="es.map.ipsc.manager.tasas.MotivoReduccionManagerImpl">	
		<property name="motivoReduccionTasaDAO" ref="motivoReduccionTasaDAO" />
	</bean>
	
	<bean id="incidenciasManager" class="es.map.ipsc.manager.incidencias.IncidenciasManagerImpl">	
		<property name="incidenciaDAO" ref="incidenciaDAO" />
		<property name="correoElectronicoDAO" ref="correoElectronicoDAO" />
		<property name="ciudadanoDAO" ref="ciudadanoDAO" />
	</bean>
	
	<bean id="ciudadanoManager" class="es.map.ipsc.manager.ciudadano.CiudadanoManagerImpl">	
		
	</bean>
	
	<bean id="parametroConfiguracionManager" class="es.map.ipsc.manager.tablaBase.ParametroConfiguracionManagerImpl">	
		<property name="parametrosConfiguracionDAO" ref="parametrosConfiguracionDAO" />
	</bean>
	
	<bean id="plantillaManager" class="es.map.ipsc.manager.plantilla.PlantillaManagerImpl">	
		<property name="plantillaDAO" ref="plantillaDAO" />
	</bean>
	
	<bean id="entidadFinancieraManager" class="es.map.ipsc.manager.entidadFinanciera.EntidadFinancieraManagerImpl">	
		<property name="entidadFinancieraDAO" ref="entidadFinancieraDAO" />
	</bean>
	
	<bean id="descargaDocumentoManager" class="es.map.ipsc.manager.descargaDocumento.DescargaDocumentoManagerImpl">
		<property name="descargaModelo790DAO" ref="descargaModelo790DAO" />
	</bean>
	
	<bean id="convocatoriaManager" class="es.map.ipsc.manager.convocatorias.ConvocatoriasManagerImpl">	
		<property name="convocatoriaDAO" ref="convocatoriaDAO" />
		<property name="convocatoriasAbiertasViewDAO" ref="convocatoriasAbiertasViewDAO" />		
		<property name="convocatoriasSubsanarViewDAO" ref="convocatoriasSubsanarViewDAO" />			
		<property name="convocatoriaProvinciaExamenDAO" ref="convocatoriaProvinciaExamenDAO" />
		<property name="convocatoriaEspecialidadDAO" ref="convocatoriaEspecialidadDAO" />
		<property name="convocatoriaTituloOficialDAO" ref="convocatoriaTituloOficialDAO" />
		<property name="motivoReduccionTasaDAO" ref="motivoReduccionTasaDAO" />
		<property name="convocatoriaMotivoReduccionDAO" ref="convocatoriaMotivoReduccionDAO" />
		<property name="provinciaExamenDAO" ref="provinciaExamenDAO" />
		<property name="tituloOficialDAO" ref="tituloOficialDAO" />
		<property name="especialidadDAO" ref="especialidadDAO" />
		<property name="ministerioDAO" ref="ministerioDAO" />
		<property name="centroGestorDAO" ref="centroGestorDAO" />
		<property name="cuerpoEscalaDAO" ref="cuerpoEscalaDAO" />
		<property name="formaAccesoDAO" ref="formaAccesoDAO" />
		<property name="grupoDAO" ref="grupoDAO" />
		<property name="plantillaPropiosManager" ref="plantillaPropiosManager" />  
		<property name="otrosTitulosDAO" ref="otrosTitulosDAO" />
		<property name="discapacidadDAO" ref="discapacidadDAO" />
	</bean>
	
	<bean id="solicitudesManager" class="es.map.ipsc.manager.solicitudes.SolicitudManagerImpl">	
		<property name="parametrosConfiguracionDAO" ref="parametrosConfiguracionDAO" />
		<property name="solicitudComunDAO" ref="solicitudComunDAO" />
		<property name="solicitudComunAuxiliarDAO" ref="solicitudComunAuxiliarDAO" />
		<property name="solComunViewDAO" ref="solComunViewDAO" />
		<property name="contadorNumSolicitudCustomDAO" ref="contadorNumSolicitudCustomDAO" />
		<property name="estadoSolicitudManager" ref="estadoSolicitudManager" />
		<property name="solicitudPropioManager" ref="solicitudPropioManager" />
		<property name="convocatoriaManager" ref="convocatoriaManager" />
		<property name="ministerioDAO" ref="ministerioDAO" />
		<property name="centroGestorDAO" ref="centroGestorDAO" />
		<property name="cuerpoEscalaDAO" ref="cuerpoEscalaDAO" />
		<property name="formaAccesoDAO" ref="formaAccesoDAO" />
		<property name="grupoDAO" ref="grupoDAO" />
		<property name="modeloManager" ref="modeloManager"></property>
	</bean>
	
	<bean id="solicitudComunAuxiliarManager" class="es.map.ipsc.manager.solicitudes.SolicitudComunAuxiliarManagerImpl">	
		<property name="solicitudComunAuxiliarDAO" ref="solicitudComunAuxiliarDAO" />
		<property name="solicitudPropioAuxiliarManager" ref="solicitudPropioAuxiliarManager" />
		<property name="solicitudCcaaAuxiliarManager" ref="solicitudCcaaAuxiliarManager" />
	</bean>
	
	<bean id="solicitudCcaaManager" class="es.map.ipsc.manager.solicitudes.SolicitudCcaaManagerImpl">	
		<property name="solicitudComunDAO" ref="solicitudComunDAO" />
		<property name="comunidadesDAO" ref="comunidadesDAO" />
		<property name="solicitudCcaaDAO" ref="solicitudCcaaDAO" />
	</bean>
	
	<bean id="solicitudCcaaAuxiliarManager" class="es.map.ipsc.manager.solicitudes.SolicitudCcaaAuxiliarManagerImpl">	
		<property name="solicitudComunAuxiliarDAO" ref="solicitudComunAuxiliarDAO" />
		<property name="comunidadesDAO" ref="comunidadesDAO" />
		<property name="solicitudCcaaAuxiliarDAO" ref="solicitudCcaaAuxiliarDAO" />
	</bean>
	
	<bean id="pagoSolicitudesManager" class="es.map.ipsc.manager.solicitudes.PagoSolicitudManagerImpl">	
		<property name="pagoSolicitudDAO" ref="pagoSolicitudDAO" />
		<property name="solicitudesManager" ref="solicitudesManager" />
		<property name="solicitudComunDAO" ref="solicitudComunDAO" />
		<property name="motivoReduccionManager" ref="motivoReduccionManager" />
		<property name="entidadFinancieraManager" ref="entidadFinancieraManager" />
	</bean>
	
	<bean id="registroSolicitudesManager" class="es.map.ipsc.manager.solicitudes.RegistroSolicitudManagerImpl">	
		<property name="registroSolicitudDAO" ref="registroSolicitudDAO" />
		<property name="solicitudComunDAO" ref="solicitudComunDAO" />
	</bean>
	
	<bean id="registroAuditoriaManager" class="es.map.ipsc.manager.registroAuditoria.RegistroAuditoriaManagerImpl">	
		<property name="registroAuditoriaDAO" ref="registroAuditoriaDAO" />
	</bean>	
		
	<bean id="tablasBaseManager" class="es.map.ipsc.manager.tablaBase.TablaBaseManagerImpl">
		<property name="centroGestorManager" ref="centroGestorManager" />
		<property name="especialidadesManager" ref="especialidadesManager" />
		<property name="formaAccesoManager" ref="formaAccesoManager" />
		<property name="grupoManager" ref="grupoManager" />
		<property name="ministerioManager" ref="ministerioManager" />
		<property name="provinciaManager" ref="provinciaManager" />
		<property name="provinciaExamenManager" ref="provinciaExamenManager" />
		<property name="estadoSolicitudManager" ref="estadoSolicitudManager" />
		<property name="tituloOficialManager" ref="tituloOficialManager" />
		<property name="cuerpoEscalaManager" ref="cuerpoEscalaManager" />
		<property name="paisManager" ref="paisManager" />
		<property name="tipoDiscapacidadManager" ref="tipoDiscapacidadManager" />
		<property name="logSolicitudManager" ref="logSolicitudManager" />
		<property name="avisoManager" ref="avisoManager" />
		<property name="convocatoriaManager" ref="convocatoriaManager" />		
	</bean>
	
	<bean id="formulario790Manager" class="es.map.ipsc.manager.formulario790.Formulario790ManagerImpl">
		<property name="paisManager" ref="paisManager" />
		<property name="provinciaManager" ref="provinciaManager" />
		<property name="provinciaExamenManager" ref="provinciaExamenManager" />
		<property name="cuerpoEscalaManager" ref="cuerpoEscalaManager" />
		<property name="centroGestorManager" ref="centroGestorManager" />
		<property name="especialidadesManager" ref="especialidadesManager" />
		<property name="formaAccesoManager" ref="formaAccesoManager" />
		<property name="ministerioManager" ref="ministerioManager" />
		<property name="tituloOficialManager" ref="tituloOficialManager" />
		<property name="tipoDiscapacidadManager" ref="tipoDiscapacidadManager" />
		<property name="convocatoriaManager" ref="convocatoriaManager" />
		<property name="plantillaManager" ref="plantillaManager" />
		<property name="comunidadesManager" ref="comunidadesManager" />
	</bean>
		
	<bean id="solicitudPropioManager" class="es.map.ipsc.manager.solicitudes.SolicitudPropioManagerImpl">
		<property name="solicitudPropiosDAO" ref="solicitudPropiosDAO" />
	</bean>	
	
	<bean id="solicitudPropioAuxiliarManager" class="es.map.ipsc.manager.solicitudes.SolicitudPropioAuxiliarManagerImpl">
		<property name="solicitudPropiosAuxiliarDAO" ref="solicitudPropiosAuxiliarDAO" />
	</bean>	
		
	<bean id="plantillaPropiosManager" class="es.map.ipsc.manager.plantilla.PlantillaPropiosManagerImpl">
		<property name="plantillaPropiosDAO" ref="plantillaPropiosDAO" />
	</bean>	
	
	<bean id="centroGestorManager" class="es.map.ipsc.manager.centroGestor.CentroGestorManagerImpl">
		<property name="centroGestorDAO" ref="centroGestorDAO" />
	</bean>
	
	<bean id="cuerpoEscalaManager" class="es.map.ipsc.manager.cuerpoEscala.CuerpoEscalaManagerImpl">
		<property name="cuerpoEscalaDAO" ref="cuerpoEscalaDAO" />
	</bean>
	
	<bean id="especialidadesManager" class="es.map.ipsc.manager.especialidades.EspecialidadManagerImpl">
		<property name="especialidadDAO" ref="especialidadDAO" />
	</bean>
	
	<bean id="formaAccesoManager" class="es.map.ipsc.manager.formaAcceso.FormaAccesoManagerImpl">
		<property name="formaAccesoDAO" ref="formaAccesoDAO" />
	</bean>
	
	<bean id="grupoManager" class="es.map.ipsc.manager.grupo.GrupoManagerImpl">
		<property name="grupoDAO" ref="grupoDAO" />
	</bean>
	
	<bean id="ministerioManager" class="es.map.ipsc.manager.ministerio.MinisterioManagerImpl">
		<property name="ministerioDAO" ref="ministerioDAO" />
	</bean>
	
	<bean id="provinciaManager" class="es.map.ipsc.manager.provincia.ProvinciaManagerImpl">
		<property name="provinciaDAO" ref="provinciaDAO" />
	</bean>
	
	<bean id="provinciaExamenManager" class="es.map.ipsc.manager.provincia.ProvinciaExamenManagerImpl">
		<property name="provinciaExamenDAO" ref="provinciaExamenDAO" />
	</bean>
	
	<bean id="comunidadesManager" class="es.map.ipsc.manager.comunidades.ComunidadesManagerImpl">
		<property name="comunidadesDAO" ref="comunidadesDAO" />
	</bean>
	
	<bean id="tituloOficialManager" class="es.map.ipsc.manager.tituloOficial.TituloOficialManagerImpl">
		<property name="tituloOficialDAO" ref="tituloOficialDAO" />
	</bean>
	
	<bean id="estadoSolicitudManager" class="es.map.ipsc.manager.solicitudes.EstadoSolicitudManagerImpl">
		<property name="estadoSolicitudDAO" ref="estadoSolicitudDAO" />
	</bean>
	
	<bean id="paisManager" class="es.map.ipsc.manager.pais.PaisManagerImpl">
		<property name="paisDAO" ref="paisDAO" />
	</bean>
	
	<bean id="tipoDiscapacidadManager" class="es.map.ipsc.manager.tipoDiscapacidad.TipoDiscapacidadManagerImpl">
		<property name="tipoDiscapacidadDAO" ref="tipoDiscapacidadDAO" />
	</bean>
	
	<bean id="documentoConvocatoriasManager" class="es.map.ipsc.manager.convocatorias.DocumentosConvocatoriaManagerImpl">	
		<property name="documentoDAO" ref="documentoDAO" />
		<property name="tipoDocumentoDAO" ref="tipoDocumentoDAO" />
		<property name="convocatoriaDAO" ref="convocatoriaDAO" />
		<property name="solicitudComunDAO" ref="solicitudComunDAO" />
		
	</bean>
	
	<bean id="modeloManager" class="es.map.ipsc.manager.modelo.ModeloManagerImpl">
		<property name="modeloDAO" ref="modeloDAO" />
	</bean>
	
	<bean id="camposPropiosManager" class="es.map.ipsc.manager.camposPropios.CamposPropiosManagerImpl">
		<property name="camposPropiosDAO" ref="camposPropiosDAO" />
	</bean>	
	
	<bean id="templateMailManager" class="com.map.j2ee.mail.MailManager">
      <constructor-arg>
         <bean class="com.map.j2ee.mail.MailConfigurationVO">
            <property name="descripcion" value="Configuración del servico de Mail" />
            <property name="server"      value="${mail.server}" />
            <property name="port"        value="${mail.port}" />
            <property name="protocol"    value="${mail.protocol}" /> 
            <property name="userName"    value="${mail.username}" />
            <property name="password"    value="${mail.password}" />                
         </bean>
      </constructor-arg>
   	</bean>
   	
	<bean id="tarifaManager" class="es.map.ipsc.manager.tasas.TarifaManagerImpl">		
		<property name="tarifaDAO" ref="tarifaDAO" />
	</bean>	
	
	<bean id="funcionarioHabilitadoManager" class="es.map.ipsc.manager.funcionarioHabilitado.FuncionarioHabilitadoManagerImpl">
		<property name="funcionarioHabilitadoDAO" ref="funcionarioHabilitadoDAO" />
	</bean>		
	
	<bean id="otrosTitulosManager" class="es.map.ipsc.manager.otrosTitulos.OtrosTitulosManagerImpl">
		<property name="otrosTitulosDAO" ref="otrosTitulosDAO" />
	</bean>	
	
	<bean id="datosPropiosConfiguracionManager" class="es.map.ipsc.manager.datosPropiosConfiguracion.DatosPropiosConfiguracionManagerImpl">
		<property name="datosPropiosConfiguracionDAO" ref="datosPropiosConfiguracionDAO" />
	</bean>		
	
	<bean id="configuracionErroresManager" class="es.map.ipsc.manager.configuracionErrores.ConfiguracionErroresManagerImpl">
		<property name="configuracionErroresDAO" ref="configuracionErroresDAO" />
	</bean>	
	 
</beans>