<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="abstractAjaxProcessor" class="es.micinn.common.ajax.AbstractAjaxProcessor" 
			abstract="true">
		<property name="conversionHelper" ref="conversionHelper" />
	</bean>

</beans>